
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

/*Este es el contenedor principal encargado de dar la forma*/
.main{
	height: 1000px;
	width: 100%;
}

/*Contenedor del mapa*/
#map {
	height: 60%;
	width: 100%;
}

/*Contenedor del titulo Puntos de */

.title{
	height: 5%;
	text-align: center;
	padding: 1%;
	background: #8FD3FA;
}

/*Contenedor par incluir los niveles*/
.escala{
	height:5%; 
	display: flex;
	background: #8FD3FA;	
	padding-left: 1%;
}	

/*Contenedores nivel*/
.nivel{
	width: 14%;
	height:60%; 
	text-align: center;
	padding: 0%;
	margin-right: 4px;
	border-radius: 5px;
}

/*Contenedores nivel muy contaminado. Mas ancho*/
.nivelRed{
	width: 20%;
	height:60%; 
	text-align: center;
	padding-top: 0%;
	margin-right: 4px;
	border-radius: 5px;
}

/*Contenedores reseteo*/
.reset{
	width: 6%;
	height:60%; 
	text-align: center;
	padding: 0%;
	margin-right: 4px;
	border-radius: 120px;
}

.filtrar{
	height: 4%;
	padding: 1%;
	padding-left: 3%;
	background: #8FD3FA;
	display: flex;
}

.botonFiltro{
	margin-left: 1%;
	margin-right: 3%;
	padding-left: 1%;
	padding-right: 1%;
	border-radius: 8px;
}
